
<p class="pull-right">
<small style="font-size:10px">
<a href="https://github.com/hasantayyar/yalan">source on github</a> |
<a href="https://twitter.com/htayyar">@htayyar</a>
</small>
</p>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</body>
</html>
