<!DOCTYPE html>
<html  manifest="manifest.appcache">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootswatch/3.0.2/amelia/bootstrap.min.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
  </head>
  <body>
