<% include header %>


<div class="jumbotron row">
<div class="col-md-5"></div>
     <div class="col-md-2">
	 <a type="button" href="/rand" class="btn-lg btn-info">Yalan Üret</a>
  </div>
<div class="col-md-5"></div>

</div>
<% include footer %>
